<header class="header clearfix">
  <img class="header__logo" src="assets/logo.png" alt="logo">
  <div class="header__summary clearfix">
    <div class="header__summary-text"></div>
    <button
      *ngIf=""
      class="btn btn-default header__summary-button" [routerLink]="['']"
    >
      Back to list
    </button>
    <button
      *ngIf="!isLoggedIn"
      class="btn btn-default header__summary-button"
      (click)="logout()"
      [class.disabled]="(dbUser | async)?.isTracking"
    >
      Login
    </button>
    <button
      *ngIf="isLoggedIn"
      class="btn btn-default header__summary-button"
      (click)="logout()"
      [class.disabled]="(dbUser | async)?.isTracking"
    >
      Logout
    </button>
  </div>

</header>
