<div
  class="side-panel"
  (window:resize)="onResize($event)">
  <button class="side-panel__button" (click)="togglePanel()">
    <i class="fa fa-id-card-o"></i>
  </button>
  <ul
    class="side-panel__wrapper"
    [class.side-panel__wrapper--hidden]="isPanelClosed"
  >
    <li *ngFor="let dbUser of dbUsers | async" class="side-panel__item clearfix">
      <div class="side-panel__name">
        {{dbUser.full_name}}
      </div>
      <div class="side-panel__stats">
        <div
          class="side-panel__stat-item"
          [class.hidden]="!dbUser.isTracking"
        >
         Speed: {{dbUser?.speed || 0}} km/h
        </div>
        <div
          class="side-panel__stat-item"
          [class.hidden]="!dbUser.isTracking"
        >
         Alt: {{dbUser?.alt || 0}} m
        </div>
      </div>
      <button
        *ngIf="isActualUser(dbUser.uid)"
        class="btn btn-primary side-panel__action-button"   [class.disabled]="dbUser.isTracking" (click)="onStartTracking()"
      >
        Start tracking
      </button>
      <button
        *ngIf="isActualUser(dbUser.uid)"
        class="btn btn-primary side-panel__action-button"
        [class.disabled]="!dbUser.isTracking" (click)="onStopTracking()"
      >
        Stop tracking
      </button>
      <button
        *ngIf="isEventAuthor(dbUser.uid)"
        class="btn btn-primary side-panel__action-button side-panel__action-button--reset"
        [class.disabled]="dbUser.isTracking" (click)="onResetEvenet()"
      >
        Reset event
      </button>

    </li>
  </ul>
</div>
