.side-panel {
  position: relative;
  height: 100%;
  width: auto;

  &__button {
    display: block;
    position: absolute;
    top: 10px;
    left: -40px;
    width: 40px;
    height: 40px;
    background-color: beige;
    cursor: pointer;
    z-index: 1;
    font-size: 20px;
    line-height: 30px;
    border: 1px solid #228F8C;

    @media (min-width: 768px) {
      display: none;
    }

    &,
    &:focus,
    &:hover {
      outline: none;
    }
  }

  &__wrapper {
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    list-style:  none;
    width: 300px;

    @media (min-width: 768px) {
      width: 400px;
    }

    &--hidden {
      display: none;


      @media (min-width: 768px) {
        display: block;
      }
    }
  }

  &__item {
    border: 1px solid gray;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 20px;
    background-color: rgba(210,220,240,0.7);
    padding: 10px;
  }
}
