.side-panel {
  position: relative;
  height: 100%;
  width: auto;

  &__button {
    display: block;
    position: absolute;
    top: 10px;
    left: -50px;
    width: 50px;
    height: 50px;
    background-color: beige;
    cursor: pointer;
    z-index: 1;
    font-size: 30px;
    line-height: 40px;
    border: 1px solid #228F8C;

    @media (min-width: 768px) {
      display: none;
    }

    &,
    &:focus,
    &:hover {
      outline: none;
    }
  }

  &__name {
    margin-bottom: 10px;
    font-size: 18px;
    font-family: 'PT Sans Bold';
    cursor: default;

    @media (min-width: 768px) {
      margin: 0 5px;
    }
  }

  &__stats {
    min-height: 20px;
    cursor: default;
    min-height: 47px;

    @media (min-width: 768px) {
      margin: 0 5px;
    }
  }

  &__stat-item {
    margin-bottom: 5px;
  }

  &__wrapper {
    height: 100%;
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto;
    width: 300px;
    padding: 20px;

    @media (min-width: 768px) {
      width: 400px;
    }

    &--hidden {
      display: none;


      @media (min-width: 768px) {
        display: block;
      }
    }
  }

  &__item {
    border: 1px solid gray;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 20px;
    background-color: rgba(210,220,240,0.7);
    padding: 10px;
  }

  &__action-button {
    display: block;
    width: 100%;
    margin-bottom: 10px;

    @media (min-width: 768px) {
      float:left;
      width: calc(50% - 10px);
      margin: 0 5px;
    }
  }
}
