<div class="gmaps">
  <sebm-google-map
    [latitude]="(dbUser | async)?.mapCenterLat"
    [longitude]="(dbUser | async)?.mapCenterLng"
    [zoom]="(dbUser | async)?.mapZoom"
    [disableDefaultUI]="true"
    [zoomControl]="false">

    <sebm-google-map-polyline
      *ngFor="let track of eventTracks"
      [strokeColor]="track.trackColor"
      geodesic="true"
      strokeWeight="8">
      <sebm-google-map-polyline-point
        *ngFor="let p of track.points | pointFilter"
        [latitude]="p.lat"
        [longitude]="p.lng"
        >

      </sebm-google-map-polyline-point>
    </sebm-google-map-polyline>
    <sebm-google-map-marker
      [markerDraggable]="!(dbUser | async)?.isTracking"
      [latitude]="(dbUser | async)?.mapDestinationLat"
      [longitude]="(dbUser | async)?.mapDestinationLng"
      iconUrl="assets/target_point.svg">
    </sebm-google-map-marker>
  </sebm-google-map>
</div>
